# Dogs Vs Cats

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os
import zipfile

## EDA

In [3]:
local_dir='./train.zip'
os.mkdir('trainData')
print('Dir created successfully!')

Dir created successfully!

In [5]:
zip_ref=zipfile.ZipFile(local_dir,'r')
zip_ref.extractall('./trainData')
print('Data Extracted Successfully!')
zip_ref.close()

Data Extracted Successfully!

In [6]:
train_dir='./trainData/train'
train_img_names=os.listdir(train_dir)
train_img_names[0:5]

['cat.0.jpg', 'cat.1.jpg', 'cat.10.jpg', 'cat.100.jpg', 'cat.1000.jpg']

In [7]:
print(f'Total number of training images : {len(train_img_names)}')

Total number of training images : 25000

In [9]:
categories=list()

for img in train_img_names:
    category=img.split('.')[0]
    
    if category=='dog':
        categories.append('dog')
    else:
        categories.append('cat')
        
df=pd.DataFrame({"Image":train_img_names,"Category":categories})

In [10]:
df.head()

          Image Category
0     cat.0.jpg      cat
1     cat.1.jpg      cat
2    cat.10.jpg      cat
3   cat.100.jpg      cat
4  cat.1000.jpg      cat

In [17]:
df.shape

(25000, 2)